<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Notify Bible verses at regular intervals" />
    <meta name="author" content="" />
    <link rel="icon" href="/favicon.ico">
    <meta name="robots" content="noindex, nofollow" />

    <title>Notify Bible Verse</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">


    <!-- Custom styles for this template -->
    <link href="/css/main.css" rel="stylesheet">

    <link href="/css/jumbotron-narrow.css" rel="stylesheet">

    <script src="https://apis.google.com/js/client:platform.js" async defer></script>

    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "b2ac434e-f3ae-4966-b20a-1d3855d41281", doNotHash: true, doNotCopy: true, hashAddressBar: true});</script>

  </head>
  <body>

    <script type="text/x-handlebars">
      <div class="container">
	<div class="header">
          <ul class="nav nav-pills pull-right">
            <!--li class="active"><a href="#">Home</a></li-->
          </ul>
          <h3 class="text-muted">Notify Bible Verse</h3>

	</div>


	<div class="jumbotron">

	  {{ outlet }}

	</div>

	<div class="row marketing">
          <div class="col-lg-6">
            <h4>Why this site?</h4>
            <p>Scripture memorization is very important for a believer.
	      To memorize a verse, repeating whatever method you are
	      using will be helpful.  If you are spending a lot of time
	      in front of a computer.  This site will help you to get
	      notification of the verses again and again at regular time
	      intervals.  Whenever the verse pop up in the desktop
	      notification area, you can read the verse.
	    </p>

          </div>

          <div class="col-lg-6">
            <h4>How it works?</h4>
            <p>Select the book, chapter, verse, translation and time
	      interval for notification.  The selected verse text will
	      appear in the desktop notification area at the given time
	      intervals.  This website should be kept opened in a
	      browser window/tab.  This site requires Google Chrome
	      browser available for desktop. Supported operating systems
	      are Windows, Mac &amp; GNU/Linux.</p>

          </div>

	</div>

	<div id="sharethis">
	  <span class='st_facebook_hcount' displayText='Facebook'></span>
	  <span class='st_twitter_hcount' displayText='Tweet'></span>
	  <span class='st_googleplus_hcount' displayText='Google +'></span>
	</div>

	<div class="footer">

	  <p><a href="https://versenotify.uservoice.com">Feedback</a></p>
	  <p>Powered by <a href="http://www.digitalbibleplatform.com">Digital Bible Platform</a>.</p>

	</div>

      </div> <!-- /container -->
    </script>

    <script type="text/x-handlebars" data-template-name="index">

      {{verse-selection}}

    </script>

    <script type="text/x-handlebars" data-template-name="verse">
      {{verse-selection}}
    </script>

    <script type="text/x-handlebars" data-template-name="components/book-selection">
      <select id="notify-book" class="form-control">
	<option value="Gen">Genesis</option>
	<option value="Exod">Exodus</option>
	<option value="Lev">Leviticus</option>
	<option value="Num">Numbers</option>
	<option value="Deut">Deuteronomy</option>
	<option value="Josh">Joshua</option>
	<option value="Judg">Judges</option>
	<option value="Ruth">Ruth</option>
	<option value="1Sam">1 Samuel</option>
	<option value="2Sam">2 Samuel</option>
	<option value="1Kgs">1 Kings</option>
	<option value="2Kgs">2 Kings</option>
	<option value="1Chr">1 Chronicles</option>
	<option value="2Chr">2 Chronicles</option>
	<option value="Ezra">Ezra</option>
	<option value="Neh">Nehemiah</option>
	<option value="Esth">Esther</option>
	<option value="Job">Job</option>
	<option value="Ps">Psalms</option>
	<option value="Prov">Proverbs</option>
	<option value="Eccl">Ecclesiastes</option>
	<option value="Song">Song of Solomon</option>
	<option value="Isa">Isaiah</option>
	<option value="Jer">Jeremiah</option>
	<option value="Lam">Lamentations</option>
	<option value="Ezek">Ezekiel</option>
	<option value="Dan">Daniel</option>
	<option value="Hos">Hosea</option>
	<option value="Joel">Joel</option>
	<option value="Amos">Amos</option>
	<option value="Obad">Obadiah</option>
	<option value="Jonah">Jonah</option>
	<option value="Mic">Micah</option>
	<option value="Nah">Nahum</option>
	<option value="Hab">Habakkuk</option>
	<option value="Zeph">Zephaniah</option>
	<option value="Hag">Haggai</option>
	<option value="Zech">Zechariah</option>
	<option value="Mal">Malachi</option>
	<option value="Matt">Matthew</option>
	<option value="Mark">Mark</option>
	<option value="Luke">Luke</option>
	<option value="John" selected="selected">John</option>
	<option value="Acts">Acts</option>
	<option value="Rom">Romans</option>
	<option value="1Cor">1 Corinthians</option>
	<option value="2Cor">2 Corinthians</option>
	<option value="Gal">Galatians</option>
	<option value="Eph">Ephesians</option>
	<option value="Phil">Philippians</option>
	<option value="Col">Colossians</option>
	<option value="1Thess">1 Thessalonians</option>
	<option value="2Thess">2 Thessalonians</option>
	<option value="1Tim">1 Timothy</option>
	<option value="2Tim">2 Timothy</option>
	<option value="Titus">Titus</option>
	<option value="Phlm">Philemon</option>
	<option value="Heb">Hebrews</option>
	<option value="Jas">James</option>
	<option value="1Pet">1 Peter</option>
	<option value="2Pet">2 Peter</option>
	<option value="1John">1 John</option>
	<option value="2John">2 John</option>
	<option value="3John">3 John</option>
	<option value="Jude">Jude</option>
	<option value="Rev">Revelation</option>
      </select>

    </script>

    <script type="text/x-handlebars" data-template-name="components/verse-selection">

      <h3>Do you want to memorize Bible verses ? Select your verse and get notification at regular intervals!</h3>

      <form class="form-horizontal" role="form">

	<div class="form-group form-group-lg">

	  <label class="col-sm-2 control-label" for="notify-book">Book</label>

	  <div class="col-sm-8">

	    {{book-selection}}

	  </div>
	</div>

	<div class="form-group form-group-lg">

	  <label class="col-sm-2 control-label" for="notify-chapter">Chapter</label>

	  <div class="col-sm-2">

	    <input class="form-control" type="text" id="notify-chapter" value="3" size="3" />

	  </div>

	  <label class="col-sm-2 control-label" for="notify-verse">Verse</label>

	  <div class="col-sm-2">

	    <input class="form-control" type="text" id="notify-verse" value="16" size="3" />

	  </div>

	</div>

	<div class="form-group form-group-lg">

	  <label class="col-sm-2 control-label" for="notify-translation">Translation</label>

	  <div class="col-sm-8 input-group">

	    <select class="form-control" id="notify-translation">
	      <option value="ESV">English Standard Version (ESV)</option>
	      <option value="KJV">King James Version (KJV)</option>
	      <option value="WEB">World English Bible (WEB)</option>
	    </select>  <br />

	  </div>
	</div>

	<div class="form-group form-group-lg">

	  <label class="col-sm-2 control-label" for="notify-interval">Time Interval</label>

	  <div class="col-sm-2 input-group">

	    <input class="form-control" id="notify-interval" value="7" size="7" /> <br />
	    <span class="input-group-addon">min.</span>
	  </div>
	</div>

	<a class="btn btn-success btn-lg" href="#" role="button" id="notify-verse-submit" {{action 'notify'}}>Notify Verse</a>
	<a class="btn btn-danger btn-lg" href="#" role="button" id="stop-notify-submit" {{action 'stop'}}>Stop Notify</a>

	<br />

      </form>

    </script>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ember.js/1.7.0/ember.min.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="notify" src="js/notify.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

  </body>
</html>
